.contact {
  .content-area {
    margin-left: 35%;
    width: 65%;
    background: $color3-white;
    height: 100%;
    // padding: 0 0 0 25%;

    .img-container {
      display: inline-block;
      width: 30%;
      position: relative;
      height: 100%;

      .form-section {
        position: absolute;
        overflow-y: scroll;
        top: 56px;
        left: -200px;
        width: 400px;
        padding: 46px;
        height: calc(100% - 112px);
        background: $color4-grey;
        color: $color3-white;
        -webkit-box-shadow: 9px 24px 33px 6px rgba(13, 12, 13, 0.29);
        -moz-box-shadow: 9px 24px 33px 6px rgba(13, 12, 13, 0.29);
        box-shadow: 9px 24px 33px 6px rgba(13, 12, 13, 0.29);

        input[type="text"],
        input[type="email"],
        textarea {
          width: 100%;
          background: transparent;
          border: none;
          border-bottom: 2px solid $color8-light-grey;
          margin-bottom: 2rem;
          font-size: .8rem;
          color: $color8-light-grey;
        }

        ::placeholder {
            color: $color3-white;
            opacity: .5;
        }

        button[type="submit"] {
          background: $color1-pink;
          border: none;
          font-size: 1rem;
          text-transform: uppercase;
          width: 100%;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          border-radius: 30px;
          text-align: center;
          color: $color3-white;
          padding: 15px 30px;
        }
        h4 {
            font-size: 1.3rem;
            margin-bottom: 4rem;
            margin-top: 2rem;
        }
      }
    }

    .contact-section {
      vertical-align: top;
      display: inline-block;
      padding: 20% 0 0 0;
      max-width: 500px;
      line-height: 1.4;
      margin: 0 0 2rem 0;

      .contactMe {
        .contact-box {
          h5 {
            font-size: 1.1rem;
            margin: 0 0 2rem;
          }

          p {
            color: $color4-grey;
            font-weight: 300;
            line-height: 1.4;
            margin: 0 0 2rem;
          }
        }
      }
    }
  }
}
