.contact {
  .content-area {
    margin-left: 35%;
    width: 65%;
    background: $color3-white;
    height: 100%;
    // padding: 0 0 0 25%;

    .img-container {
      display: inline-block;
      width: 30%;
      position: relative;
      height: 100%;

      .form-section {
        position: absolute;
        overflow-y: scroll;
        overflow-x: hidden;
        top: 56px;
        left: -200px;
        width: 400px;
        padding: 46px;
        height: calc(100% - 112px);
        background: $color4-grey;
        color: $color3-white;
        -webkit-box-shadow: 9px 24px 33px 6px rgba(13, 12, 13, 0.29);
        -moz-box-shadow: 9px 24px 33px 6px rgba(13, 12, 13, 0.29);
        box-shadow: 9px 24px 33px 6px rgba(13, 12, 13, 0.29);

        input[type="text"],
        input[type="email"],
        textarea {
          width: 100%;
          background: transparent;
          border: none;
          border-bottom: 2px solid $color8-light-grey;
          margin-bottom: 2rem;
          font-size: 0.8rem;
          color: $color8-light-grey;
          padding-bottom: 5px;
        }

        ::placeholder {
          color: $color3-white;
          opacity: 0.5;
        }

        button[type="submit"] {
          background: $color1-pink;
          border: none;
          font-size: 1rem;
          text-transform: uppercase;
          width: 100%;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          border-radius: 30px;
          text-align: center;
          color: $color3-white;
          padding: 15px 30px;
        }

        h4 {
          font-size: 1.3rem;
          margin-bottom: 3rem;
          margin-top: 1.5rem;
        }
      }
    }

    .contact-section {
      vertical-align: top;
      display: inline-block;
      padding: 56px 0 0 0;
      max-width: 500px;
      line-height: 1.4;
      margin: 0 0 2rem 0;

      .contactMe {
        h1 {
          font-weight: 700;
          font-size: 2rem;
          text-transform: uppercase;
          margin-bottom: 56px;
        }

        .contact-box {
          width: 100%;
          padding: 30px;
          transition: all 0.5s ease-in-out;
          cursor: pointer;

          &:hover {
            -webkit-box-shadow: 0 20px 60px 6px rgba(13, 12, 13, 0.2);
            -moz-box-shadow: 0 20px 60px 6px rgba(13, 12, 13, 0.2);
            box-shadow: 0 20px 60px 6px rgba(13, 12, 13, 0.2);
          }

          h5 {
            font-weight: 500;
            font-size: 1.3rem;
            margin-bottom: 1.3rem;
          }

          p {
            font-weight: 300;
            font-size: 1rem;
            margin-top: 0.7rem;
          }
        }
      }
    }
  }
}
