.home {
  .content-area {
    margin-left: 35%;
    width: 65%;
    background: $color3-white;
    height: 100%;

    .img-container {
      display: inline-block;
      width: 30%;
      position: relative;
      height: 100%;

      .user-img {
        position: absolute;
        top: 56px;
        left: -180px;
        width: 360px;
        height: calc(100% - 112px);
        background: url(/img/portfolio-img.png) no-repeat center center
          $color4-grey;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-box-shadow: 9px 24px 33px 6px rgba(13, 12, 13, 0.29);
        -moz-box-shadow: 9px 24px 33px 6px rgba(13, 12, 13, 0.29);
        box-shadow: 9px 24px 33px 6px rgba(13, 12, 13, 0.29);
      }
    }

    .profile-section {
      vertical-align: top;
      display: inline-block;
      padding: 20% 0 0 0;
      max-width: 500px;
      line-height: 1.4;
      margin: 0 0 2rem 0;

      .profile {
        h1 {
          font-size: 2.3rem;
          font-weight: 500;
          line-height: 1.2;
          margin: 0 0 1.4rem;

          span {
            color: $color1-pink;
          }
        }

        h5 {
          font-size: 1.1rem;
          margin: 0 0 2rem;
        }

        p {
          color: $color4-grey;
          font-weight: 300;
          line-height: 1.4;
          margin: 0 0 2rem;
        }
      }
    }
  }
}

// Small devices (under 767px)
@media (max-width: 767px) {
  .home {
    .menu-icon {
      top: 8px;
      right: 20px;
      color: $color3-white;

      .fa {
        color: $color3-white;
      }
    }

    .info-section {
      position: static;
      padding: 10px 20px;

      .logo {
        height: 75px;
        width: 130px;
      }
    }

    .content-area {
      // :after {
      //   content: "";
      //   display: table;
      //   clear: both;
      // }
      
      margin-left: 0;
      width: 100%;
      .img-container {
        padding: 56px 20px 0;

        .user-img {
          position: static;
          width: 100%;
        }
      }

      .profile-section {
        width: 70%;
        float: right;
        padding: 20% 20px 0;

        .ghost-btn,
        .primary-btn {
          margin-bottom: 20px;
          font-size: 0.8rem;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .home {
    .content-area {
      .img-container {
        padding: 56px 20px 0;

        .user-img {
          position: static;
          width: 100%;
        }
      }

      .profile-section {
        width: 70%;
        float: right;
        padding: 20% 20px 0;

        .ghost-btn,
        .primary-btn {
          font-size: 0.9rem;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .home {
    .content-area {
      .img-container {
        padding: 56px 20px 0;
        float: left;

        .user-img {
          left: -80px;
          width: 300px;
        }
      }

      .profile-section {
        padding: 120px 0 0 60px;
        max-width: 400px;
        float: left;

        .profile {
          h1 {
            font-size: 2.5rem;
          }

          h5 {
            font-size: 1.6rem;
          }

          p {

          }
        }
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .home {
    .content-area {
      .img-container {
        padding: 56px 20px 0;

        .user-img {
          position: static;
          width: 320px;
        }
      }

      .profile-section {
        width: 70%;
        float: right;
        padding: 20% 20px 0;
      }
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .home {
    .content-area {
      .profile-section {
        min-width: 550px;
        float: none;
        padding: 20% 0 0 100px;
      }
    }
  }
}
